<%- include('partials/head', { pageTitle: 'Edit Superhero' }) %>

  <%- include('partials/nav') %>
  <h1>Edit Superhero</h1>
  <form action="/<%= superhero._id %>?_method=PUT" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= superhero.name %>" required>
    </div>
    <div>
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" name="biography[full-name]" value="<%= superhero.biography['full-name'] %>">
    </div>
    <div>
      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" name="image[url]" value="<%= superhero.image.url %>">
    </div>

    <h2>Powerstats</h2>
    <div>
      <label for="intelligence">Intelligence:</label>
      <input type="number" id="intelligence" name="powerstats[intelligence]" min="0" max="100" value="<%= superhero.powerstats.intelligence %>" required>
    </div>
    <div>
      <label for="strength">Strength:</label>
      <input type="number" id="strength" name="powerstats[strength]" min="0" max="100" value="<%= superhero.powerstats.strength %>" required>
    </div>
    <div>
      <label for="speed">Speed:</label>
      <input type="number" id="speed" name="powerstats[speed]" min="0" max="100" value="<%= superhero.powerstats.speed %>" required>
    </div>
    <div>
      <label for="durability">Durability:</label>
      <input type="number" id="durability" name="powerstats[durability]" min="0" max="100" value="<%= superhero.powerstats.durability %>" required>
    </div>
    <div>
      <label for="power">Power:</label>
      <input type="number" id="power" name="powerstats[power]" min="0" max="100" value="<%= superhero.powerstats.power %>" required>
    </div>
    <div>
      <label for="combat">Combat:</label>
      <input type="number" id="combat" name="powerstats[combat]" min="0" max="100" value="<%= superhero.powerstats.combat %>" required>
    </div>

    <button type="submit">Update</button>
  </form>

  <%- include('partials/footer') %>