
  <%- include('partials/head', { pageTitle: 'Superheroes' }) %>

  <%- include('partials/nav') %>
  
  <h1>Superheroes</h1>
  <ul>
    <% superheroes.forEach(function(superhero) { %>
      <li>
        <a href="/<%= superhero._id %>"><%= superhero.name %></a>
      </li>
    <% }); %>
  </ul>

  <%- include('partials/footer') %>
